#red{
    color: red;
    height: 20%;
    width: 20%;
}
#blue{
    color: blue;
    height: 20%;
    width: 20%;
}
#orange{
    color: orange;
    height: 20%;
    width: 20%;
}
#green{
    color: green;
    height: 20%;
    width: 20%;
}
#yellow{
    color: yellow;
    height: 20%;
    width: 20%;
}

.color-title{
    font-weight: normal;
    height: 20%;
    width: 20%;
}