h1 {
    color: rgb(167, 5, 5);
    background-color: rgb(255, 159, 159);
    width: 38%;
}



.texto{
    background-color: antiquewhite;
    color: rgb(130, 72, 10);
    font-weight: bold;
}

#nome{
    background-color: rgb(215, 250, 222);
    font-weight: bold;
    color: black
}



p {
   color: rgb(255, 0, 0); 
   background-color: rgb(226, 215, 250);
   width: 17%;
}


.div-por-dentro{
    background-color: rgb(173, 255, 10);
    height: 50px;
    width: 30%;
    position: relative;
}
.div-por-fora{
    background-color: rgb(229, 253, 179);
    display: flex;
}